﻿@model IEnumerable<WEB_Assignment_Team2.Models.Criteria>

<div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().CriteriaName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FirstOrDefault().Weightage)
                </th>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.CriteriaName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Weightage)
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
