﻿@model WEB_Assignment_Team2.Models.CriteriaViewModel
@{
    ViewData["Title"] = "Edit Criteria";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        <br />
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <label asp-for="CriteriaList.FirstOrDefault().CriteriaName" class="control-label"></label>
                </div>
                <div class="col-sm-4">
                    <label asp-for="CriteriaList.FirstOrDefault().Weightage" class="control-label"></label>
                </div>
                <div class="col-sm-2"></div>
            </div>
            <br />
            <input asp-for="SelectedCompetition.CompetitionID" readonly hidden />
            <input asp-for="SelectedCompetition.AreaInterestID" readonly hidden />
            <input asp-for="Command" hidden />

            @{for (int i = 0; i < Model.CriteriaList.Count; i++)
                {
                    <div id="@i">
                        <input asp-for="CriteriaList[i].CompetitionID" readonly hidden />
                        <input asp-for="CriteriaList[i].CriteriaID" readonly hidden />
                        <div class="row form-group">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-4">
                                <input class="form-control"placeholder="Please enter criteria name" asp-for="CriteriaList[i].CriteriaName" />
                                <span asp-validation-for="CriteriaList[i].CriteriaName" class="text-danger"></span>
                            </div>
                            <div class="col-sm-4">
                                <input class="form-control"placeholder="Please enter criteria weightage" asp-for="CriteriaList[i].Weightage" />
                                <span asp-validation-for="CriteriaList[i].Weightage" class="text-danger"></span>
                            </div>
                            <div class="col-sm-2 removeCriteria" style="text-align:right;">
                                <button class="remove" value="@i">Remove</button>
                            </div>
                        </div>
                    </div>
                }
            }
            <div hidden="hidden" class="model">
                @Html.EditorForModel()
                @Html.EditorFor(model => model.SelectedCompetition)
            </div>
            <div class="text-danger">@TempData["MessageView"]</div>
            <div class="form-group" style="margin:20px;text-align:right;">
                <button style="border-style:none;border-radius:1000px; font-size: 11pt; background-color:green;color:white;" class="btn" id="addCriteria">
                    Add Criteria
                </button>
            </div>
            <div class="form-group" style="margin:20px;text-align:right;">
                <input type="submit" id="save" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />

@section Scripts{
    <script>
        $("#btnEditCriteriaJudge").css({"border-style":"none"});
        $("#btnEditCriteriaJudge a").css({ "padding": "2px 30px 2px 30px", "border-radius": "1000px", "border": "1px black solid", "background-color": "white", "text-decoration": "none" });
        $(".buttonCriteria a").css({ "padding": "2px 0px", "background-color": "white", "text-decoration": "none", "color": "#707070" })
        $("#btnCriteria a").css({ "color": "blue" })
        $(".remove").css({ "border-style":"none", "margin":"10px", "background-color": "white", "text-decoration": "none", "color": "red"})
        var string = @Html.DisplayFor(model=>model.SelectedCompetition.CompetitionID);
        $("#btnEditCriteriaJudge a").attr("href", "/Criteria/View/" + string);
        $("#btnEditCriteriaJudge a").text("Back")
        $(document).ready(function () {
            $('.remove').click(function () {
                index = $(this).attr("value");
                $(`#CriteriaList_` + index + `__Weightage`).val(0);
            });
            $('#addCriteria').click(function () {
                $("#Command").val("true");
            });
            $('#save').click(function () {
                $("#Command").val("Save");
            });
        });
    </script>
}
