﻿@model WEB_Assignment_Team2.Models.CriteriaViewModel
@{
    ViewData["Title"] = "View Criteria";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    @await Html.PartialAsync("~/Views/Criteria/_Criteria.cshtml", Model.CriteriaList)
</div>
<br />
@section Scripts{
    <script>
        $("#btnEditCriteriaJudge").css({ "border-style": "none" });
        $("#btnEditCriteriaJudge a").css({ "padding": "2px 30px 2px 30px", "border-radius": "1000px", "border": "1px black solid", "background-color": "white", "text-decoration": "none" });
        $(".buttonCriteria a").css({ "padding": "2px 0px", "background-color": "white", "text-decoration": "none", "color": "#707070" })
        $("#btnCriteria a").css({ "color": "blue" })
    </script>
}
