﻿@model WEB_Assignment_Team2.Models.Competitor
@{
    ViewData["Title"] = "Competitor Profile";
}
<div>
    <div>
        <div class="container">
            <span class="text-danger">@TempData["message"]</span><br />
            <h3 id="profileTitle">My Profile</h3>
            <div class="profile">
                <div class="row profile">
                    <div class="col-sm"><label asp-for="CompetitorId" class="control-label"></label></div>
                    <div class="col-sm">
                        <div>
                            @Html.DisplayFor(model => model.CompetitorId)
                        </div>
                    </div>
                </div>
                <div class="row profile">
                    <div class="col-sm"><label asp-for="CompetitorName" class="control-label"></label></div>
                    <div class="col-sm">
                        <div>
                            @Html.DisplayFor(model => model.Salutation) @Html.DisplayFor(model => model.CompetitorName)
                        </div>
                    </div>
                </div>
                <div class="row profile">
                    <div class="col-sm"><label asp-for="EmailAddr" class="control-label"></label></div>
                    <div class="col-sm">
                        <div>
                            @Html.DisplayFor(model => model.EmailAddr)
                        </div>
                    </div>
                </div>
                <br />
                <div class="row">
                    @*Button trigger modal*@
                    <button type="button" id="profileedit" data-toggle="modal" data-target="#competitorprofile">
                        Edit profile
                    </button>
                    <button type="button" id="passwordedit" data-toggle="modal" data-target="#competitorpassword">
                        Edit Password
                    </button>
                </div>
                @*Modal for details*@
                <div class="modal fade" id="competitorprofile" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form asp-action="Competitor">
                                <div class="modal-header">

                                    <h5 class="modal-title" id="profiletitle">Edit Profile Details</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="modal-body">
                                    <input asp-for="CompetitorId" hidden readonly />
                                    <input asp-for="EmailAddr" hidden readonly />
                                    <div class="row">
                                        <div class="col-sm"><label asp-for="CompetitorName" class="control-label"></label></div>
                                        <div class="col-sm">
                                            <span asp-validation-for="CompetitorName" class="text-danger" style="font-size:13px !important;"></span>
                                            <input asp-for="CompetitorName" class="form-control" required />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm"><label asp-for="Salutation" class="control-label"></label></div>
                                        <div class="col-sm">
                                            <select asp-items="@ViewData["salutation"]as List<SelectListItem>"
                                                    class="col-sm form-control" asp-for="Salutation"></select>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn" style="background-color:forestgreen; color:white">Save changes</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                @*modal for password change*@
                <div class="modal fade" id="competitorpassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <form asp-action="CompetitorPassword">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="profiletitle">Change Password</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div><input asp-for="CompetitorId" hidden readonly /></div>
                                    <div class="row">
                                        <div class="col-sm">
                                            <label class="control-label" for="oldpassword">Old Password</label>
                                        </div>
                                        <div class="col-sm">
                                            <span style="font-size:10pt;" class="text-danger">@TempData["oldPassword"]</span>
                                            @if (Model.Password == "LOGINWITHGOOGLE")
                                            {
                                                <input class="form-control" name="oldpassword" id="oldpassword" type="password" maxlength="255" required readonly value="@Model.Password">
                                            }
                                            else
                                            {
                                                <input class="form-control" name="oldpassword" id="oldpassword" type="password" maxlength="255" required>
                                            }

                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"><label for="Password" class="control-label">New Password</label></div>
                                        <div class="col-sm">
                                            <span style="font-size:10pt;" class="text-danger">@TempData["cfmessage"]</span>
                                            <input type="password" name="Password" maxlength="255" class="form-control" required />
                                            <br />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm"><label for="ConfirmPassword" class="control-label">Confirm Password</label></div>
                                        <div class="col-sm">
                                            <input name="ConfirmPassword" type="password" maxlength="255" class="form-control" required />
                                        </div>
                                    </div>
                                    <br />
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                        <button type="submit" class="btn" style="background-color:orangered; color:white">Save changes</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

