﻿@model WEB_Assignment_Team2.Models.SubmissionScoreViewModel
@{
    ViewData["Title"] = "Edit Score";
}
<br />
<div class="container">
    <div style="background-color: #99CCFE; border-top-left-radius:10px; border-top-right-radius:10px; border: 1px #333 solid">
        <div style="margin:auto; width:80%; height:auto; padding-top:20px; padding-bottom: 20px">
            <div style="margin-bottom:10px">@ViewData["competitorName"]</div>
            <div class="row" style="margin-bottom: 10px">
                <div class="col-lg-6 col-sm-12">
                    <div>
                        File submitted on :
                    </div>
                    <div>
                        @Model.CompSub.DateTimeFileUpload
                    </div>
                </div>
                <div class="col-lg-6 col-sm-12">
                </div>
            </div>
            <div style="margin-bottom: 10px">
                <span style="padding: 2px 7px 2px 7px; border-radius: 1000px; border: 1px black solid; background-color: white">
                    <a id="downloadSubmission" href="~/submissions/@Model.CompSub.FileSubmitted" download>Download</a>
                </span>
            </div>
        </div>
    </div>
    <div style="padding: 10px; border: 1px #333 solid; border-top: none; justify-content: space-between; align-items: center; display: flex">
        <span id="backSubmissionbtn">@Html.ActionLink("Back", "CompetitorSubmission", "Submission", new { competitionID = Model.CompSub.CompetitionID, competitorID = Model.CompSub.CompetitorID })</span>
    </div>
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        @if (Model.CompSub.Appeal != null)
        {<div style="text-align:left;margin:0px 0px 20px 0px;" class="row">
                <div class="col-sm">
                    Appeal :
                </div>
                <div class="col-sm">

                    @Html.DisplayFor(m => m.CompSub.Appeal)


                </div>
            </div>
        }
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <table class="table">

                <thead>
                    <tr>
                        <th style="margin:0px 20px">Criteria</th>
                        <th style="margin:0px 20px">Score</th>
                    </tr>
                </thead>
                <tbody>
                    @{for (int i = 0; i < Model.CsList.Count; i++)
                        {


                            <tr>

                                <td style="margin:0px 20px">@Html.DisplayFor(model => model.CriteriaList.Find(a => a.CriteriaID == model.CsList[i].CriteriaID).CriteriaName)</td>
                                <td style="margin:0px 20px">
                                    <input asp-for="CsList[i].Score" /> out of 10<br />
                                    <span asp-validation-for="CsList[i].Score" class="text-danger"></span>
                                </td>
                            </tr>
                            <tr hidden="hidden">
                                <td>
                                    <input asp-for="CsList[i].CompetitionID" readonly hidden />
                                    <input asp-for="CsList[i].CriteriaID" readonly hidden />
                                    <input asp-for="CsList[i].CompetitorID" readonly hidden />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <div hidden="hidden" class="model">
                @Html.EditorForModel()
                @Html.EditorFor(model => model.CompSub)

            </div>
            <div class="text-danger">@TempData["MessageView"]</div>
            <div class="form-group" style="margin:20px;text-align:right;">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
@section Scripts{
    <script>
        $("#backSubmissionbtn a").css({ "padding": "2px 30px 2px 30px", "border-radius": "1000px", "border": "1px black solid", "background-color": "white", "text-decoration": "none" });
        $("#downloadSubmission").css({ "padding": "2px 0px", "text-decoration": "none", "color": "blue" })
    </script>
}
