﻿@model WEB_Assignment_Team2.Models.SubmissionViewModel
@{
    ViewData["Title"] = "View All Submission";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        <br />
        @{if (Model.CompetitionSubmissionList.Count > 0)
            {
                for (int i = 0; i < Model.CompetitionSubmissionList.Count; i++)
                {
                    <div class="form-container" onclick="location.href = '@Url.Action("CompetitorSubmission", "Submission", new { competitionID = Model.CompetitionSubmissionList[i].CompetitionID, competitorID = Model.CompetitionSubmissionList[i].CompetitorID })'" style="border-style:solid;border-width:1px;border-radius:15px; margin: 0px 20px 20px 20px;cursor:pointer">
                        <div>
                            <span>@Html.DisplayFor(model => model.CompetitorList.Find(a => a.CompetitorId == model.CompetitionSubmissionList[i].CompetitorID).CompetitorName)</span>
                        </div>
                        <div>
                            <span>
                                File Submitted on: @if (Model.CompetitionSubmissionList[i].DateTimeFileUpload != null)
                                {@Html.DisplayFor(model => model.CompetitionSubmissionList[i].DateTimeFileUpload)}
                            else
                            {@Html.Raw("NA")}
                            </span>
                        </div>
                        <div>
                            <span>
                                Appeal : @if (Model.CompetitionSubmissionList[i].Appeal != null)
                                {@Html.Raw("Available")}
                            else
                            {@Html.Raw("NA")}
                            </span>
                        </div>
                    </div>
                }
            }
            else
            {
                <div style="font-size: 25pt; color: #707070; text-align:center;">~ <em>No Submissions At The Moment</em> ~</div>
            }
        }
    </div>
</div>
<br />
@section Scripts{
    <script>
        $(".buttonCriteria a").css({ "padding": "2px 0px", "background-color": "white", "text-decoration": "none", "color": "#707070" })
        $("#btnSubmission a").css({ "color": "blue" })
    </script>
}
