﻿@model WEB_Assignment_Team2.Models.PublicViewModel
@{
    ViewData["Title"] = "View Submissions";
}


<div class="container">
    <div style="color:forestgreen;font-size:20px;">@TempData["Success"]</div>
    <div style="color:red;font-size:20px;">@TempData["Failure"]</div>

    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        <div class="container" style="display:flex">
            <div class="container" style="padding:10px; font-size:20px; flex:1">
                Viewing Submission for:<br>
                @Html.DisplayFor(model => model.competitorList.Find(a => a.CompetitorId == model.CompSubmission.CompetitorID).CompetitorName)
                <span class="btn btn-warning float-right" data-toggle="modal" data-target="#modal-voting">Vote for Competitor</span>
            </div>
        </div>
        <div class="form-container" style="border-style:solid;border-width:1px;border-radius:15px; margin: 30px 20px 20px 20px;cursor:pointer">
            <div>
                @Html.DisplayFor(model => model.CompSubmission.FileSubmitted)<br>
                <a id="downloadSubmission" href="~/submissions/@Model.CompSubmission.FileSubmitted" download>Download File</a><br>
                <a href="~/submissions/@Model.CompSubmission.FileSubmitted">View Submission</a>
            </div>
        </div>
    </div>
</div>

@*model for voting*@
<div class="modal fade" tabindex="-1" role="dialog" id="modal-voting">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Vote for Competitor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5>You are now voting for:</h5>
                <h5>@Html.DisplayFor(model => model.competitorList.Find(a => a.CompetitorId == model.CompSubmission.CompetitorID).CompetitorName)</h5>
                <br>

                <h6>Competing for the competition:</h6>
                <p>@Model.SelectedCompetition.CompetitionName</p>
                <br>
                <p style="color:red;">Please note that you will only be allowed to vote once. Thus, please vote wisely !</p>
            </div>
            <div class="modal-footer">
                <form asp-action="VoteForSubmission">
                    @*Send necessary id's on form submission*@
                    <input asp-for="CompSubmission.CompetitionID" hidden>
                     <input asp-for="CompSubmission.CompetitorID" hidden>
                     <input class="btn btn-success" type="submit" value="Vote Now"></input>
                </form>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    Cancel
                </button>
            </div>
        </div>
    </div>
</div>

@*new { competitionID = Model.CompSubmission.CompetitionID, competitorID = Model.CompSubmission.CompetitorID })*@