﻿@model WEB_Assignment_Team2.Models.CompetitorSubmission
@{
    ViewData["Title"] = "Submission";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px; position:relative;">
        <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);
">
            @if (!Convert.ToBoolean(ViewData["DisplayJoinButton"]) && DateTime.Now > Model.SelectedCompetition.StartDate && DateTime.Now < Model.SelectedCompetition.EndDate)
            {
                if (Model.SelectedCompetitionSubmission.FileSubmitted == null)
                {
                    <div style="text-align:center">File not uploaded</div>
                }
                else
                {
                    <div style="text-align:center">@Html.DisplayFor(m => Model.SelectedCompetitionSubmission.FileSubmitted)</div>
                }
                <div style="text-align:center">
                    <form asp-action="UploadFile" enctype="multipart/form-data">
                        <input asp-for="@Model.SelectedCompetitionSubmission.CompetitionID" hidden />
                        <input asp-for="@Model.SelectedCompetitionSubmission.CompetitorID" hidden />
                        <input asp-for="fileToUpload" style="width:210px" />

                        <div>
                            @if (Model.SelectedCompetitionSubmission.FileSubmitted != null)
                            {
                                
                                <a href="~/submissions/@Model.SelectedCompetitionSubmission.FileSubmitted" download><button type="button" class="btn btn-info" style="min-width:150px; margin: 5px;">Download</button></a>
                                
                            }
                            <input type="submit" class="btn btn-success" style="min-width:150px; margin: 5px;" name="Update File Submission" />
                        </div>

                    </form>
                    <div>@ViewData["Message"]</div>
                </div>
            }
            else if (DateTime.Now < Model.SelectedCompetition.StartDate)
            {
                <div style="text-align:center">Cannot submit now,</div>
                <div style="text-align:center">please wait till the start of the competition.</div>
            }
            else if (DateTime.Now > Model.SelectedCompetition.EndDate)
            {
                <div style="text-align:center">Cannot submit now,</div>
                <div style="text-align:center">the competition has ended.</div>
            }
            else
            {
                <div style="text-align:center">Not currently participating in the competition,</div>
                <div style="text-align:center">Please join the competition first.</div>
            }
        </div>

    </div>
</div>
<br />
