﻿@model WEB_Assignment_Team2.Models.PublicViewModel
@{
    ViewData["Title"] = "View Details";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        <table class="table">
            <thead>
                <tr>
                </tr>
            </thead>
            <tbody>
                @if (Model.CompetitionSubmissionList.Count > 0)
                {
                    for (int i = 0; i < Model.CompetitionSubmissionList.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => model.competitorList.Find(a => a.CompetitorId == model.CompetitionSubmissionList[i].CompetitorID).CompetitorName)
                            </td>
                            <td>
                                <span class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">
                                    @Html.ActionLink("View Submission", "PublicView", "submission", new { competitionID = Model.CompetitionSubmissionList[i].CompetitionID, competitorID = Model.CompetitionSubmissionList[i].CompetitorID })
                                </span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <div style="font-size: 25pt; color: #707070; text-align:center;">~ <em>No Submissions At The Moment</em> ~</div>
                }

            </tbody>
        </table>
    </div>
    @await Html.PartialAsync("~/Views/Comment/_ViewComments.cshtml")
</div>

