﻿@model WEB_Assignment_Team2.Models.SubmissionViewModel
@{
    ViewData["Title"] = "View All Rank";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        <br />
        @if (Model.CompetitionSubmissionList.Count > 0)
        {
            for (int i = 0; i < Model.CompetitionSubmissionList.Count; i++)
            {
                <div class="form-container" onclick="location.href = '@Url.Action("View", "Rank", new { competitionID = Model.CompetitionSubmissionList[i].CompetitionID, competitorID = Model.CompetitionSubmissionList[i].CompetitorID })'" style="border-style:solid;border-width:1px;border-radius:15px; margin: 0px 20px 20px 20px;cursor:pointer">
                    <div class="row">
                        <div class="col-sm" style="text-align:Center;">
                            <div>
                                @Html.DisplayNameFor(model => model.CompetitionSubmissionList[i].Ranking)
                            </div>
                            <div style="font-size:60pt;">
                                <strong>
                                    @if (Model.CompetitionSubmissionList[i].Ranking == null)
                                    {
                                        @Html.Raw("NA")
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.CompetitionSubmissionList[i].Ranking)
                                    }
                                </strong>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                Details of Submission
                            </div>
                            <br />
                            <div>
                                @Html.DisplayFor(model => model.CompetitorList.Find(a => a.CompetitorId == model.CompetitionSubmissionList[i].CompetitorID).CompetitorName)
                            </div>
                            <div>
                                Public Vote : @Html.DisplayFor(model => model.CompetitionSubmissionList[i].VoteCount)
                            </div>
                            <div>
                                Appeal : @if (Model.CompetitionSubmissionList[i].Appeal != null)
                                {@Html.Raw("Available")}
                            else
                            {@Html.Raw("NA")}
                            </div>
                        </div>
                    </div>
                </div>
            }
        }
        else
        {
            <div style="font-size: 25pt; color: #707070; text-align:center;">~ <em>No Submissions At The Moment</em> ~</div>
        }
    </div>
</div>
<br />
@section Scripts{
    <script>
        $(".buttonCriteria a").css({ "padding": "2px 0px", "background-color": "white", "text-decoration": "none", "color": "#707070" })
        $("#btnRank a").css({ "color": "blue" })
    </script>
}