﻿@model WEB_Assignment_Team2.Models.PublicViewModel
@{
    ViewData["Title"] = "Top 3 Ranks";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        @for (int i = 0; i < Model.CompetitionSubmissionList.Count; i++)
        {
            // check if rank if not yet released
            @if (Model.CompetitionSubmissionList[i].Ranking != null)
            {
                @if (Model.CompetitionSubmissionList[i].Ranking <= 3)
                {
                    <div style="width:80%; border-color:#edebe9; border-style: solid; height:120px; margin:auto; display:flex;">
                        <div style="font-size:40px; margin-top:25px; margin-left:20px; flex:1">
                            @Html.DisplayFor(modelItem => Model.CompetitionSubmissionList[i].Ranking)
                        </div>
                        <div style="font-size:20px; margin-top:40px; flex:1">
                            @Html.DisplayFor(model => model.competitorList.Find(a => a.CompetitorId == model.CompetitionSubmissionList[i].CompetitorID).CompetitorName)<br>
                        </div>
                    </div>
                }
            }
            else
            {
                <div style="font-size: 40px; width: 80%; border-color: #edebe9; border-style: solid; height: 120px; margin: auto; text-align: center">
                    <h2>NO RANKINGS YET !</h2>
                    <p>Check back at a later date!</p>
                </div>
                break;
            }
        }
    </div>
</div>
