﻿@model WEB_Assignment_Team2.Models.RankViewModel
<br />
@{
    ViewData["Title"] = "View Rank";
}
<div class="container">
    <div class="row">
        <div class="col-lg-2" style="height:350px; overflow:auto;">
            @for (int i = 0; i < Model.SubmissionVM.CompetitionSubmissionList.Count; i++)
            {
                <div id="@Model.SubmissionVM.CompetitionSubmissionList[i].CompetitorID@Model.SubmissionVM.CompetitionSubmissionList[i].CompetitionID" onclick="location.href = '@Url.Action("View", "Rank", new { competitionID = Model.SubmissionVM.CompetitionSubmissionList[i].CompetitionID, competitorID = Model.SubmissionVM.CompetitionSubmissionList[i].CompetitorID })'" style="border-style:solid;border-width:1px;margin: 10px;border-radius:15px;cursor:pointer">
                    <div class="row" style="margin:3px;">
                        <div class="col-sm" style="text-align:Center;">
                            <div>
                                @Html.DisplayNameFor(model => model.SubmissionVM.CompetitionSubmissionList[i].Ranking)
                            </div>
                            <div>
                                <strong>
                                    @if (Model.SubmissionVM.CompetitionSubmissionList[i].Ranking == null)
                                    {
                                        @Html.Raw("NA")
                                    }
                                    else
                                    {
                                        @Html.DisplayFor(model => model.SubmissionVM.CompetitionSubmissionList[i].Ranking)
                                    }
                                </strong>
                            </div>
                        </div>
                        <div class="col-sm">
                            <div>
                                @Html.DisplayFor(model => model.SubmissionVM.CompetitorList.Find(a => a.CompetitorId == model.SubmissionVM.CompetitionSubmissionList[i].CompetitorID).CompetitorName)
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="col-lg-10">
            <div style="background-color: #99CCFE; border-top-left-radius:10px; border-top-right-radius:10px; border: 1px #333 solid">
                <div style="margin:auto; width:80%; height:auto; padding-top:20px; padding-bottom: 20px">
                    <div style="margin-bottom:10px;font-size:large">@Html.DisplayFor(model => model.SubmissionVM.CompetitorList.Find(a => a.CompetitorId == Model.SubmissionScoreVM.CompSub.CompetitorID).CompetitorName)</div>
                    <div class="row" style="margin-bottom: 10px">
                        <div class="col-lg-6 col-sm-12">
                            <div>
                                File submitted on :
                            </div>
                            <div>
                                @Model.SubmissionScoreVM.CompSub.DateTimeFileUpload
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                        </div>
                    </div>
                    <div style="margin-bottom: 10px">
                        <span style="padding: 2px 7px 2px 7px; border-radius: 1000px; border: 1px black solid; background-color: white">
                            <a id="downloadSubmission" href="~/submissions/@Model.SubmissionScoreVM.CompSub.FileSubmitted" download>Download</a>
                        </span>
                    </div>
                </div>
            </div>
            <div style="padding: 10px; border: 1px #333 solid; border-top: none; justify-content: space-between; align-items: center; display: flex">
                <span id="backSubmissionbtn">@Html.ActionLink("Back", "List", "Rank", new { id = Model.SubmissionScoreVM.CompSub.CompetitionID })</span>
                @if (TempData["Validity"].ToString() == "true")
                {
                    <span id="editSubmissionbtn" style="text-align:left;">@Html.ActionLink("Edit", "Edit", "Rank", new { competitionID = Model.SubmissionScoreVM.CompSub.CompetitionID, competitorID = Model.SubmissionScoreVM.CompSub.CompetitorID })</span>
                }
            </div>
            <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
                @if (Model.SubmissionScoreVM.CompSub.Appeal != null)
                {<div style="text-align:left;margin:0px 0px 20px 0px;" class="row">
                        <div class="col-sm">
                            Appeal :
                        </div>
                        <div class="col-sm">
                            @Html.DisplayFor(m => m.SubmissionScoreVM.CompSub.Appeal)
                        </div>
                    </div>
                }
                <table class="table">

                    <thead>
                        <tr>
                            <th style="margin:0px 20px">Criteria</th>
                            <th style="margin:0px 20px">Weightage (%)</th>
                            <th style="margin:0px 20px">Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{for (int i = 0; i < Model.SubmissionScoreVM.CsList.Count; i++)
                            {
                                <tr>
                                    <td style="margin:0px 20px">@Html.DisplayFor(model => model.SubmissionScoreVM.CriteriaList.Find(a => a.CriteriaID == model.SubmissionScoreVM.CsList[i].CriteriaID).CriteriaName)</td>
                                    <td style="margin:0px 20px">@Html.DisplayFor(model => model.SubmissionScoreVM.CriteriaList.Find(a => a.CriteriaID == model.SubmissionScoreVM.CsList[i].CriteriaID).Weightage)</td>
                                    <td style="margin:0px 20px">@Html.DisplayFor(model => model.SubmissionScoreVM.CsList[i].Score) out of 10</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

                <div>
                    <table class="table">
                        <tr>
                            <td>Total Score: </td>
                            <td>@Html.DisplayFor(model => model.TotalScore)</td>
                        </tr>
                        <tr>
                            <td>Public Votes: </td>
                            <td>@Html.DisplayFor(model => model.SubmissionScoreVM.CompSub.VoteCount)</td>
                        </tr>
                        <tr>
                            <td>Rank: </td>
                            <td>
                                @if (Model.SubmissionScoreVM.CompSub.Ranking == null)
                                {@Html.Raw("NA")}
                            else
                            {
                                @Html.DisplayFor(model => Model.SubmissionScoreVM.CompSub.Ranking)
                            }
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<br />
@section Scripts{
    <script>
        $("#backSubmissionbtn a ,#editSubmissionbtn a").css({ "padding": "2px 30px 2px 30px", "border-radius": "1000px", "border": "1px black solid", "background-color": "white", "text-decoration": "none" });
        $("#downloadSubmission").css({ "padding": "2px 0px", "text-decoration": "none", "color": "blue" })
        var string = "#" +@Html.DisplayFor(model=>model.SubmissionScoreVM.CompSub.CompetitorID)+@Html.DisplayFor(model => model.SubmissionScoreVM.CompSub.CompetitionID);
        $(string).css({"box-shadow":"0px 5px 5px"})
    </script>
}