﻿
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <h1 style="text-align:center;">Contact Us</h1><br />
    <h3>Do Contact Us :</h3>
    <ul>
        <li>Should you find vulnerabilities on our website.</li>
        <li>Abusive languages used when posting comments</li>
        <li>Voting frauds</li>
        <li>
            Suggestions
            <ul>
                <li>Improvements for competition.</li>
                <li>Improvements for user interface.</li>
                <li>Improvements for user experience.</li>
            </ul>
        </li>       
    </ul>
    <h3>Contact Us :</h3>
    <div>Email: admin@lcu.edu.sg</div>
    <br />
    <div>We will try our best to reply to your email within 3 working days.</div><br />
    <div>Meanwhile, look at all the competitions Competify has to offer and participate in the competitions.</div>
    <br />
    <div>We look forward to your participation.</div>
</div>

