﻿@{
    ViewData["Title"] = "Home Page";
}

<body>
    <div class="container">
        <!--First Row content-->
        <div class="row">
            <!--First Row , left column content-->
            <div class="col-sm">
                <lottie-player class="lottie"
                               src="https://assets8.lottiefiles.com/packages/lf20_3u79Yq.json"
                               background="transparent" speed="1"
                               style="max-width: 400px; min-width: 250px; width: 100%; height: 400px;" autoplay>
                </lottie-player>
            </div>

            <!--First Row , right column content-->
            <div class="col-sm">
                <div class="banner-right">
                    <p class="title" style="color: #091440;">Competify</p>
                    <p class="text-message">
                        Competify, A Real-Time Judging platform that is here to take care of your needs no matter what
                    </p>
                    @if (ViewData["quote"].ToString() != "" && ViewData["author"].ToString() != "")
                    {
                        <p class="text-message">
                            Quote of the Day: <br />
                            "@ViewData["quote"]" ~ @ViewData["author"]
                        </p>
                    }
                </div>
            </div>
        </div>
    </div>

    <!--Second Row content-->
    <div class="second-row" style="margin-bottom: 70px;">
        <h1>CORE FEATURES</h1>
        <!--Card Wrapper in second row container-->
        <div class="flex-card-row">
            <!--Individual card in second row container-->
            <div class="card">
                <img class="logo" src="~/images/judging-done-right.png" alt="logo">
                <div class="card-text">
                    <h3>Judging Done Right</h3>
                    <p>
                        Professors to set up judging criteria and assess
                        the outcome of competition. Assessment done fairly by professionals
                    </p>
                </div>
            </div>

            <!--Individual card in second row container-->
            <div class="card">
                <img class="logo" src="~/images/audience-involve.png" alt="logo">
                <div class="card-text">
                    <h3>Audience Involvement</h3>
                    <p>
                        Audience get to view and comment on competitors work which advocates active involvement. It also allows feedback to be given to the competitors
                    </p>
                </div>
            </div>

            <!--Individual card in second row container-->
            <div class="card">
                <img class="logo" src="~/images/simplicity.png" alt="logo">
                <div class="card-text">
                    <h3>Simplificity at it's finest</h3>
                    <p>We strive to provide the best platform for competitions to be held on. A simple to use judging platform allows for more innovation  as there is less to worry about</p>
                </div>
            </div>
        </div>
    </div>

    <!--Third row content-->
    <div class="third-row container">
        <div class="row">
            <!--Third row , left column content-->
            <div class="col-sm">
                <h2 class="sub-title" style="font-weight:bold;">Responsive Design</h2>
                <div class="explanation" style="font-size: large;">
                    <p>
                        Our Web Application is designed to work on various devices such as Desktops, Tablets and
                        Mobile devices.
                    </p>
                    <p>
                        Our Team's Idea is simple. We want our application to provide good user experience and for
                        our visitors to access and navigate our website with ease.
                    </p>
                </div>
            </div>

            <!--Third row , left column content-->
            <div class="col-sm d-flex justify-content-center align-items-center">
                <img class="image-feature" src="~/images/responsive-design.png" width="300" alt="responsive-icon">
            </div>
        </div>
    </div>


    <!--About Competify Banner forth row-->
    <div class="abt-banner" id="about"
         style="background-image: url(); background-position: center; background-size: cover;">
        <div class='abt-banner-text'>
            <h1>ABOUT COMPETIFY</h1>
            <p style="font-size: larger;">A platform for all in fairness</p>
        </div>
    </div>

    <!--Content below about competify banner-->
    <!--Fifth row Content-->
    <div class="fifth-row container" style="margin-top:40px;">
       <div class="row-sm order-1 d-flex justify-content-center align-items-center ">
           <img class="image-feature" src="~/images/lightbulb_moment.png" width="300" alt="light-bulb-icon">
       </div>
       <div class="row-sm order-2">
           <h2 style="font-weight:bold;">Competify's Mission</h2>
           <h5 style="font-weight:bold;">To be the future of competitions, To be the future of judging</h5>
           <div class="explanation" style="font-size: large;">
               <p>
                   All in all, Competify aims to be space where fair judging can take place. A system that is the beginning of a change. A judging system never seen before.
               </p>
               <p>
                   And, we mean what we enforce about the fairness in judging. As motivated individuals who take ourselves to be advocates of fairness ,
                   We want our competitors here to get what they deserve awell. If you as a competitor feel like your work have been judge unfairly, we encourage you to appeal.
               </p>
               <p>
                   That is the kind of promise our team brings to you. People come first.
               </p>
           </div>
        </div>
    </div>
</body>
