﻿
@{
    ViewData["Title"] = "Login";
}

<div class="container-fluid">
    <div class="row align-items-center">

        <div class="col" style="margin:50px; height:70vh;">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_yupefrh2.json" background="transparent" speed="0.3" loop autoplay></lottie-player>
        </div>
        <div class="col" style="margin:50px">
            <div class="form-container">
                <h1>Login</h1>
                <form method="post" action="~/Home/Login" class="form-wrapper">
                    <label class="form-label" for="email" style="margin-top:15px" autocomplete="off">Email</label>
                    <input class="form-control" name="email" id="email" type="email" required>
                    <label class="form-label" for="password" style="margin-top:15px">Password</label>
                    <input class="form-control" name="password" id="password" type="password" required>
                    <div style="color:orangered">@TempData["loginerror"]</div>

                    <div style="margin-top:30px;">
                        <span style="align-content:end">
                            <a href="~/Home/Register" class="btn" style="color: #FD7F02">Did not Register?</a>
                            <button type="submit" class="btn btn-success">Log in</button>
                        </span>
                    </div>
                    <div style="margin-top:10px; margin-left:12px">
                        <span>Google Sign-in is only available to competitors</span>
                        <a href="~/Home/LoginWithGoogle" class="btn"><img style="max-height: 36px" src="~/images/btn_google_signin_dark_normal_web@2x.png" /></a>
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</div>
