﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1>Privacy Policy</h1><br />
    <p>Last updated: June 18, 2021</p><br />
    <p>
        This Privacy Policy describes Our policies and procedures on collection, use and disclosure of Your information when You use the Service and
        tells You about Your privacy rights and how the law protects You.
    </p><br />
    <p>We use Your Personal Data to provide and improve Competify. By using Competify or parts of its Service, You agree to the collection and use of information in accordance with this Privacy Policy.</p><br />
    <h2>Interpretation and Definitions</h2><br />
    <h3>Interpretation</h3>
    <p>The words of which the initial letter is capitalised have meanings defined under the following conditions. The following definitions shall have the same meaning regardles of whether they appear singular or in plural.</p><br />
    <h3>Definitions</h3>
    <div>For the purposes of this Privacy Policy:</div>
    <ul>
        <li>
            <strong>Account</strong> means a unique account created for You to access our Service or parts of our Service.<br />
        </li>
        <li>
            <strong>Company</strong> (referred to as either "The Company", "We", "Us" or "Our" in this Agreement) refers to Competify.<br />
        </li>
        <li>
            <strong>Cookies</strong> are small files that are placed on Your computer, mobile device or any other device by a website, containing the details of Your browsing history on that website among its many uses.<br />
        </li>
        <li>
            <strong>Country</strong> refers to: Singapore<br />
        </li>
        <li>
            <strong>Personal Data</strong> is any information that relates to an identified or identifiable individual.<br />
        </li>
        <li>
            <strong>Device</strong> means that any device that can access the Service such as a computer, a cellphone or a digital tablet.<br />
        </li>
        <li>
            <strong>Service</strong> refers to the Website.<br />
        </li>
        <li>
            <strong>Service Provider</strong> means any natural or legal person who processes the data on behalf of the Company. It refers to third-party companies or individuals employed by the Company to facilitate the Service, to provide the Service on behalf of 
            the Company, to perform services related to the Service or to assist the Company in analyzing how the Service is used.<br />
        </li>
        <li>
            <strong>Usage Data</strong> refers to data collected automatically, either generated by the use of the Service or from the Service infrastructure itself (for example, the duration of a page visit).
        </li>
    </ul>
</div>
