﻿
@{
    ViewData["Title"] = "Register";
}

<div class="container-fluid">
    <div class="row align-items-center">

        <div class="col" style="margin:50px; height:70vh;">
            <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_yupefrh2.json" background="transparent" speed="0.3" loop autoplay></lottie-player>
        </div>
        <div class="col" style="margin:50px">
            <div class="form-container">
                <h1>Register</h1>
                <form method="post" action="~/Home/Register" class="form-wrapper">
                    <label class="form-label" for="email" style="margin-top:15px" autocomplete="off">Email</label>
                    <input class="form-control"name="email" id="email" type="email" value="@ViewData["email"]"maxlength="50" required>
                    <span style="color:orangered">@TempData["emailfound"]</span><br />
                    <label class="form-label" for="password" style="margin-top:15px">Password</label>
                    <input class="form-control"name="password" id="password" type="password" value="@ViewData["password"]" maxlength="255" required>
                    <label class="form-label" for="name" style="margin-top:15px">Name</label>
                    <input class="form-control" name ="name"id="name" type="text" value="@ViewData["name"]"maxlength="50" required>
                    <label class="form-label" for="salutation" style="margin-top:15px">Salutation</label>
                    <select class="form-control" name="salutation" id="salutation" aria-label="Default select example">
                        @if (ViewData["salutation"] != null && ViewData["salutation"].ToString() == "")
                        {
                            <option value="" selected></option>
                        }
                        else
                        {
                            <option value=""></option>
                        }
                        @if (ViewData["salutation"] != null && ViewData["salutation"].ToString() == "Dr")
                        {
                            <option value="Dr" selected>Dr</option>
                        }
                        else
                        {
                            <option value="Dr">Dr</option>
                        }@if (ViewData["salutation"] != null && ViewData["salutation"].ToString() == "Mr")
                        {
                            <option value="Mr" selected>Mr</option>
                        }
                        else
                        {
                            <option value="Mr">Mr</option>
                        }@if (ViewData["salutation"] != null && ViewData["salutation"].ToString() == "Ms")
                        {
                            <option value="Ms" selected>Ms</option>
                        }
                        else
                        {
                            <option value="Ms">Ms</option>
                        }@if (ViewData["salutation"] != null && ViewData["salutation"].ToString() == "Mrs")
                        {
                            <option value="Mrs" selected>Mrs</option>
                        }
                        else
                        {
                            <option value="Mrs">Mrs</option>
                        }@if (ViewData["salutation"] != null && ViewData["salutation"].ToString() == "Mdm")
                        {
                            <option value="Mdm" selected>Mdm</option>
                        }
                        else
                        {
                            <option value="Mdm">Mdm</option>
                        }
                    </select>
                    <div class="form-group form-check-inline" style="margin-top:15px">
                        <label class="col-form-label">
                            @if (ViewData["role"]!= null && ViewData["role"].ToString() == "competitor")
                            {

                                <input name="role" type="radio" value="competitor" class="form-check-input" id="competitorRadio" checked="checked" />
                            }
                            else
                            {
                                <input name="role" type="radio" value="competitor" class="form-check-input" id="competitorRadio" />
                            }
                            <span style="font-weight:normal; padding-right:20px">Competitor</span>
                        </label>
                        <label class="col-form-label">
                            @if (ViewData["role"] != null && ViewData["role"].ToString() == "judge")
                            {
                                <input name="role" type="radio" value="judge" class="form-check-input" id="judgeRadio" checked="checked" />
                            }
                            else
                            {
                                <input name="role" type="radio" value="judge" class="form-check-input" id="judgeRadio" />
                            }
                            <span style="font-weight:normal; padding-right:20px">Judge</span>
                        </label>
                    </div>
                    <div class="form-group" id="AOI">
                        <label for="AreaofInterest"
                               class="form-label">Area of Interest</label>
                        <div class="">
                            <select id="AreaofInterest"
                                    asp-items="@ViewData["AOI"]as List<SelectListItem>"
                                    class="form-control" name="AOI"></select>
                        </div>
                    </div>
                    <div style="margin-top:30px;">
                        <span style="align-content:end">
                            <a href="~/Home/Login" class="btn" style="color: #FD7F02">Signed up already?</a>
                            <button type="submit" class="btn btn-success">Sign Up</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


