﻿@model WEB_Assignment_Team2.Models.CompetitionScoreViewModel
@{
    ViewData["Title"] = "View Score";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px; position:relative;">
        @if (Model.CriteriaScoreList.Count() == 0)
        {
            <div style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
                <div>Score not available.</div>
            </div>
        }
        else
        {
            <table class="table">
                <thead>
                    <tr>
                        <th>
                            Criteria
                        </th>
                        <th>
                            Score
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model.CriteriaScoreList)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CriteriaName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Score)
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            <button type="button" class="btn btn-warning" style="margin-bottom:10px; align-items: center;" data-toggle="modal" data-target="#submitAppeal">
                Submit Appeal
            </button>
        }

    </div>

</div>
<br />
<div class="modal fade" id="submitAppeal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form asp-action="SubmitAppeal">
                <div class="modal-header">
                    <h5 class="modal-title" id="profiletitle">Submit Appeal</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="modal-body">
                    @if (!(ViewData["AllowAppeal"] == "true" && DateTime.Now < Model.SelectedCompetition.ResultReleasedDate))
                    {
                        <textarea asp-for="CompSubmission.Appeal" class="form-label" style="display:block; resize:none; width:100%;" rows="5" readonly></textarea>
                    }
                    else
                    {
                        <textarea asp-for="CompSubmission.Appeal" class="form-label" style="display:block; resize:none; width:100%;" rows="5"></textarea>
                    }

                    <input asp-for="CompSubmission.CompetitionID" hidden></input>
                    <input asp-for="CompSubmission.CompetitorID" hidden></input>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    @if (ViewData["AllowAppeal"] == "true" && DateTime.Now < Model.SelectedCompetition.ResultReleasedDate)
                    {
                        <button type="submit" class="btn" style="background-color:forestgreen; color:white">Save changes</button>
                    }
                </div>
            </form>
        </div>
    </div>
</div>