﻿<!-- Links that are aligned to the right, ml-auto: left margin auto-adjusted -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/AreaInterest/Index">Area of Interest</a>
    </li>
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Competition/AllCompetitions">Competitions</a>
    </li>
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Competition/CompetitionJudges">Judges</a>
    </li>
    <li class="nav-item" style="margin-left:25px !important">
        <!-- A link for logging out user -->
        <a class="nav-link boxBtn" href="~/Home/LogOut">Log Out</a>
    </li>
</ul>