﻿@model WEB_Assignment_Team2.Models.Competition
@{
    Layout = null;
}
<style>
    #nav-bar-compdetail > span > a {
        color: initial;
    }
</style>
<div style="background-color: #99CCFE; border-top-left-radius:10px; border-top-right-radius:10px; border: 1px #333 solid">
    <div style="margin:auto; width:80%; height:auto; padding-top:20px; padding-bottom: 20px">
        <div style="margin-bottom:10px; text-overflow:ellipsis; overflow:hidden;">@Html.DisplayFor(m => Model.CompetitionName)</div>
        <div class="row" style="margin-bottom: 10px">
            <div class="col-lg-6 col-sm-12">
                <div>
                    Competition Dates
                </div>
                <div>
                    <span>@Html.DisplayFor(m => Model.StartDate)</span>
                    <span> - </span>
                    <span>@Html.DisplayFor(m => Model.EndDate)</span>
                </div>
            </div>
            <div class="col-lg-6 col-sm-12">
                <div>
                    Results Release Date
                </div>
                <div>
                    @Html.DisplayFor(m => Model.ResultReleasedDate)
                </div>
            </div>
        </div>
        <div style="margin-bottom: 10px">
            <span style="padding: 2px 7px 2px 7px; border-radius: 1000px; border: 1px black solid; background-color: white">
                @ViewData["AreaOfInterest"]
            </span>
        </div>
    </div>
</div>
<div style="padding: 10px; border: 1px #333 solid; border-top: none; justify-content: space-between; align-items: center; display: flex">
    @if (Context.Session.GetString("Role") == "competitor")
    {
        <span id="nav-bar-compdetail" class="row">
            <span id="tabCriteria" class="col-sm-12 col-lg-auto ">@Html.ActionLink("Criteria", "View", "Criteria", new { id = Model.CompetitionID })</span>
            <span id="tabJudges" class="col-sm-12 col-lg-auto ">@Html.ActionLink("Judges", "View", "Judge", new { id = Model.CompetitionID })</span>
            <span id="tabSubmission" class="col-sm-12 col-lg-auto ">@Html.ActionLink("Submission", "View", "Submission", new { id = Model.CompetitionID })</span>
            <span id="tabScore" class="col-sm-12 col-lg-auto ">@Html.ActionLink("Score", "View", "Score", new { id = Model.CompetitionID })</span>

            @if (this.ViewContext.RouteData.Values["controller"].ToString() == "Criteria")
            {
                <script>document.getElementById("tabCriteria").firstChild.style.color = "blue"</script>
            }
            else if (this.ViewContext.RouteData.Values["controller"].ToString() == "Judge")
            {
                <script>document.getElementById("tabJudges").firstChild.style.color = "blue"</script>
            }
            else if (this.ViewContext.RouteData.Values["controller"].ToString() == "Submission")
            {
                <script>document.getElementById("tabSubmission").firstChild.style.color = "blue"</script>
            }
            else
            {
                <script>document.getElementById("tabScore").firstChild.style.color = "blue"</script>
            }
        </span>
        if (DateTime.Now.AddDays(3) < Model.StartDate && Convert.ToBoolean(ViewData["DisplayJoinButton"]))
        {
            <span style="padding: 2px 30px 2px 30px; border-radius:1000px; border: 1px black solid; background-color: white">
                @Html.ActionLink("Join", "JoinCompetition", "Competition", new { CompetitionID = Model.CompetitionID })
            </span>
        }

    }
    else if (Context.Session.GetString("Role") == "judge")
    {
        <span class="row">
            <span id="btnCriteria" class="col-sm-12 col-lg-auto buttonCriteria">@Html.ActionLink("Criteria", "View", "Criteria", new { id = Model.CompetitionID })</span>
            <span id="btnSubmission" class="col-sm-12 col-lg-auto buttonCriteria">@Html.ActionLink("Submission", "List", "Submission", new { id = Model.CompetitionID })</span>
            <span id="btnRank" class="col-sm-12 col-lg-auto buttonCriteria">@Html.ActionLink("Rank", "List", "Rank", new { id = Model.CompetitionID })</span>
            <span id="btnJudges" class="col-sm-12 col-lg-auto buttonCriteria">@Html.ActionLink("Judges", "View", "Judge", new { id = Model.CompetitionID })</span>
        </span>
        if (Model.StartDate > DateTime.Now && this.ViewContext.RouteData.Values["controller"].ToString() == "Criteria")
        {
            <span id="btnEditCriteriaJudge" style="padding: 2px 30px 2px 30px; border-radius:1000px; border: 1px black solid; background-color: white">
                @Html.ActionLink("Edit Criteria", "Edit", new { id = Model.CompetitionID })
            </span>
        }
    }
    else if (Context.Session.GetString("Role") == null)
    {
        // validation to check if i am currently on rank controller or competition controller
        if (this.ViewContext.RouteData.Values["controller"].ToString() == "Rank")
        {
            <span class="row">
                <span id="btnViewRank" class="col-sm-12 col-lg-auto" style="color: #3382dd">Rankings</span>
            </span>
        }
        else if (this.ViewContext.RouteData.Values["controller"].ToString() == "Submission")
        {
            <span class="row">
                <span id="btnViewComp" class="col-sm-12 col-lg-auto" style="color: #3382dd">Competitor Submission</span>
            </span>
        }

    }
</div>
