﻿<ul class="navbar-nav ml-auto">
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Profile/Judge">My Profile</a>
    </li>
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Competition/MyCompetition">My Competitions</a>
    </li>
    <li class="nav-item" style="margin-left:25px !important">
        <!-- A link for logging out user -->
        <a class="nav-link boxBtn" href="~/Home/LogOut">Log Out</a>
    </li>
</ul>