﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("css",required:false)
</head>
<body>
    <header>
        @await Html.PartialAsync("_NavBar.cshtml")
    </header>
    <div class="container-fluid">
        <div>
            @RenderBody()
        </div>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container" style="text-align:center;">
            &copy; 2021 - Competify - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://unpkg.com/&#64;lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
