﻿@using Microsoft.AspNetCore.Http;
@{
    Layout = null;
}

<!-- A grey navbar that expands horizontally at medium device -->
<nav class="navbar navbar-expand-lg bg-light navbar-light">
    <div class="container-fluid navbar-width">
        <!-- The brand(or icon) of the navbar -->
        <a class="navbar-brand" href="~/Home/Index"
            style="font-size:32px; font-weight:bold; color:#3399FF;">
            Competify
        </a>
        <!-- Toggle/collapsible Button, also known as hamburger button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#staffNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Links in the navbar, displayed as drop-down list when collapsed -->
        <div class="collapse navbar-collapse" id="staffNavbar">
            @{ if (Context.Session.GetString("Role") == null)
                {
                    @await Html.PartialAsync("~/Views/Shared/_PublicMenu.cshtml")
                }
                else if (Context.Session.GetString("Role") == "competitor")
                {
                    @await Html.PartialAsync("~/Views/Shared/_CompetitorMenu.cshtml")
                }
                else if (Context.Session.GetString("Role") == "admin")
                {
                    @await Html.PartialAsync("~/Views/Shared/_AdminMenu.cshtml")
                }
                else if (Context.Session.GetString("Role") == "judge")
                {
                    @await Html.PartialAsync("~/Views/Shared/_JudgeMenu.cshtml")
                }
            }
        </div>
    </div>
</nav>

