﻿<!-- Links that are aligned to the right, ml-auto: left margin auto-adjusted -->
<ul class="navbar-nav ml-auto">
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Home/Index#about">About Us</a>
    </li>
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Home/Contact">Contact Us</a>
    </li>
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Competition/AllCompetitions">View Competitions</a>
    </li>
    <li class="nav-item normal-item">
        <a class="nav-link" href="~/Competition/CompetitionRanking">View Rankings</a>
    </li>
    <li class="nav-item login-item">
        <!-- A link for logging out user -->
        <a class="nav-link" href="~/Home/Login">Login</a>
    </li>
    <li class="nav-item">
        <!-- A link for logging out user -->
        <a class="nav-link boxBtn" href="~/Home/Register">Sign Up</a>
    </li>
</ul>