﻿/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    min-height: 100%;
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

.navbar-width {
    margin-left: 10vw;
    margin-right: 10vw;
}

@media screen and (max-width: 1200px) {
    .navbar-width {
        margin-left: 0vw;
        margin-right: 0vw;
    }
}

.nav-item > a {
    padding-top: 8px;
    padding-bottom: 8px;
    font-weight: bold;
}

.normal-item {
    margin-left: 20px;
}

    .normal-item > a {
        color: #FD7F02 !important;
    }

.login-item {
    margin-right: 10px !important;
    margin-left: 25px !important;
}

    .login-item > a {
        color: black !important;
    }

.boxBtn {
    color: white !important;
    font-weight: bold;
    padding: 8px;
    background-color: #FD7F02;
    border-radius: 6px;
}

@media screen and (max-width: 992px) {
    .normal-item {
        margin-left: 0px;
    }

    .login-item {
        margin-right: 0px !important;
        margin-left: 0px !important;
    }

    .boxBtn {
        margin-right: 0px !important;
        margin-left: 0px !important;
        padding-left: 10px !important;
    }
}


.form-container {
    padding: 50px;
    border: 1px solid #707070;
    border-radius: 20px
}

.profile div{
    text-align: left;
}


#profileedit, #passwordedit {
    background-color: red;
    color: white;
    border-style: none;
    border-radius: 5px;
    margin: 0px 10px;
    font-size: 12pt;
}

.profile {
    width: 600px;
    font-size: 15pt;
    margin:20px auto;
}

#profileTitle{
    margin:0px 0px 15px 0px
}
.Profile form label {
    float: left;
}
@media screen and (max-width: 576px) {
    .profile {
        font-size: 12pt;
        width:auto;
        text-align:left;
    }
        .profile label{
            margin:10px 0px 0px 0px
        }
        .profile input {
            float: left;
            font-size: 11pt
        }
    #profileedit, #passwordedit {
        font-size:10pt;
    }
}

#comp-container, #ai-container {
    padding: 10px;
}

@media screen and (min-width: 768px) {
    #comp-container, #ai-container {
        width: 50%;
    }
}

/*Index Page*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/*competify title styling*/
.title {
    color: #091440;
    font-size: 80px;
    letter-spacing: 2px;
    margin-bottom: 45px;
}

.container-fluid {
    padding: 0px;
}

/*lottie-player styling*/
.col-sm lottie-player {
    margin: auto;
}

/*First row right side conetnt styling*/
.banner-right {
    margin-top: 80px;
}

/*Styling text message under title*/
.text-message {
    color: #9fb5cc;
    font-size: 1.1em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
}

/*Styling second row*/
.second-row {
    margin-top: 100px;
    padding: 40px;
    background-color: rgb(243, 243, 243);
}

    .second-row h1 {
        text-align: center;
        margin-bottom: 30px;
    }

/*Wrapping the cards and applying flex*/
.flex-card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /*center all the card to the center of the page*/
}

/*styling the row of cards*/
.card {
    text-align: center;
    padding: 20px;
    margin: 50px;
    background: rgb(255, 255, 255);
    box-shadow: 0 1.5px 0 0 rgba(0,0,0,0.1);
    position: relative;
    height: auto;
    width: 400px;
}

/*Make the logo stay in a position relative to the card*/
.logo {
    width: 110px;
    position: absolute;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
}

/*Styling heading in card*/
.card h3 {
    font-weight: bolder;
}

/*Styling text in card*/
.card-text {
    margin-top: 50px;
}

.description {
    text-align: center;
    color: rgb(37, 37, 37);
}
/*Styling third row in index page*/
.third-row {
    margin-top: 50px;
    padding: 80px;
}

img {
    display: block;
    margin: auto;
}

/*Styling fifth row in index page*/
.fifth-row {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 30px;
}

/*Styling about competify banner*/
.abt-banner {
    background-color: rgba(225, 241, 255, 0.353);
    height: 290px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
}

/*Styling about competify banner content*/
.abt-banner-text {
    padding: 20px;
}

.abt-banner-text h1 {
    font-weight: 600;
    font-size: 50px;
    color: #0c5783;
}

.image-feature {
    display: block;
    margin: auto;
}

/*MEDIA QUERIES to adapt to various screen sizes*/
@media (max-width: 768px) {
    .card {
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .second-row {
        padding-left: 10px;
        padding-right: 10px;
    }

    .title {
        text-align: center;
        font-size: 60px;
    }

    .text-message {
        text-align: center;
        font-size: 1.1em;
    }

    .banner-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .third-row {
        text-align: center;
        margin-top: 40px;
        padding: 15px;
    }

    .fifth-row img {
        margin-bottom: 50px;
    }
}

@media screen and (min-width:576px) and (max-width:767px) {
    .third-row {
        margin-top: 40px;
        padding: 15px;
    }
}

@media (max-width: 350px) {
    .title {
        font-size: 50px;
    }

    .text-message {
        font-size: 1em;
    }

    .sub-title {
        font-size: 23px;
    }

    .explanation p {
        font-size: 14px;
    }

    .third-row {
        margin-top: 40px;
        padding: 15px;
    }

}