﻿@model WEB_Assignment_Team2.Models.PublicViewModel


<h3 class="heading" style="margin-top:50px;">Public Comments</h3>
<body>
    <form asp-action="Create">
        <div style="border-color:#edebe9;border-style:solid; padding:20px; padding-bottom:45px;">
            <input asp-for="SelectedCompetition.CompetitionID" readonly hidden />
            <div style="margin-bottom: 25px;" >
                <input asp-for="comment.Description" class="form-control" id="Description" autocomplete="off" style="border-color: #dedee0 ; border-style: solid; height:80px;" width="80%" required> 
                <span asp-validation-for="comment.Description"
                      class="text-danger"></span>
            </div>
            <input class="btn btn-success float-right" type="submit" value="Post Comment">
        </div>
    </form>
    <br>
    <br>
    @{
        foreach (var item in Model.commentList)
        {
            <div style="border-color: #edebe9; border-style: solid; padding: 20px; padding-bottom: 35px;">
                <div style="border-color: #dedee0 ; border-style: solid; height:80px;" ; class="container">
                    <div name="description">@Html.DisplayFor(modelItem => item.Description)</div>
                </div>
                <span style="display:block; float:right;padding-top:5px;">@Html.DisplayFor(modelItem => item.DateTimePosted)</span>
            </div>
        }
    }
    <br>
    <br>
</body>

