﻿@model WEB_Assignment_Team2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "All Competitions";
}
<div id="comp-container" class="container">
    @{if (Context.Session.GetString("Role") == "competitor")
        {
            <h2>Join Competitions</h2>
            <br />
            @foreach (var item in Model.ListCompetition)
            {
                <div class="form-container" style="margin-bottom: 20px;" onclick="location.href = '@Url.Action("View", "Criteria", new {id=item.CompetitionID})'">
                    <p>
                        <div>
                            <b>@Html.DisplayFor(modelItem => item.CompetitionName)</b> <br />
                        </div>
                        <div style="margin-top:10px;">
                            Competition Dates: <br />
                            @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate) <br />
                        </div>
                        <div style="margin-top:10px;">
                            Results Release Date: <br />
                            @Html.DisplayFor(modelItem => item.ResultReleasedDate)
                        </div>
                    </p>
                    <span>
                        <span class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">
                            @Html.DisplayFor(model => model.AiList.Find(a => a.AreaInterestID == item.AreaInterestID).Name)
                        </span>
                    </span>
                </div>
            }
        }
        else if (Context.Session.GetString("Role") == "admin")
        {
            <h2>View Competitions</h2>
            <div style="color:forestgreen">@TempData["CompSuccess"]</div>
            <div style="color:orangered">@TempData["CompError"]</div> <br />
            <a asp-action="CreateCompetition"
               class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;margin-bottom: 20px;">Create New Competition</a>
            <br />
            foreach (var item in Model.ListCompetition)
            {
                <div class="form-container" style="margin-bottom: 20px;">
                    <p>
                        <div>
                            <b>@Html.DisplayFor(modelItem => item.CompetitionName)</b> <br />
                        </div>
                        <div style="margin-top:10px;">
                            Area of Interest: <br />
                            @Html.DisplayFor(model => model.AiList.Find(a => a.AreaInterestID == item.AreaInterestID).Name)
                        </div>
                        <div style="margin-top:10px;">
                            Competition Dates: <br />
                            @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate) <br />
                        </div>
                        <div style="margin-top:10px;">
                            Results Release Date: <br />
                            @Html.DisplayFor(modelItem => item.ResultReleasedDate)
                        </div>
                    </p>
                    <span>
                        <a asp-action="EditCompetition" asp-controller="Competition"
                           asp-route-id="@item.CompetitionID"
                           class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">Edit</a>
                        <a asp-action="DeleteCompetition" asp-controller="Competition"
                           asp-route-id="@item.CompetitionID"
                           class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">Delete</a>
                    </span>
                </div>
            }
        }

        else if (Context.Session.GetString("Role") == null)
        {
            <h2>View Competitions</h2>
            <br />
            foreach (var item in Model.ListCompetition)
            {
                <div class="form-container" style="margin-bottom: 20px; cursor:pointer;" onclick="location.href = '@Url.Action("viewdetails", "submission", new {id=item.CompetitionID})'">
                    <p>
                        <div>
                            <b>@Html.DisplayFor(modelItem => item.CompetitionName)</b> <br />
                        </div>
                        <div style="margin-top:10px;">
                            Area of Interest: <br />
                            @Html.DisplayFor(model => model.AiList.Find(a => a.AreaInterestID == item.AreaInterestID).Name)
                        </div>
                        <div style="margin-top:10px;">
                            Competition Dates: <br />
                            @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate) <br />
                        </div>
                        <div style="margin-top:10px;">
                            Results Release Date: <br />
                            @Html.DisplayFor(modelItem => item.ResultReleasedDate)
                        </div>
                    </p>
                    <span>
                        <span class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">@Html.ActionLink("View Competition Details", "viewdetails", "submission", new { id = item.CompetitionID })</span>
                    </span>
                </div>
            }
        }
    }
</div>

