﻿@model WEB_Assignment_Team2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "Competition Judges";
}
<div id="comp-container" class="container">
    <h2>Judges for Competitions</h2>
    <div style="color:forestgreen">@TempData["CompJudgeSuccess"]</div>
    <div style="color:orangered">@TempData["CompJudgeError"]</div>
    <br />
    @foreach (var item in Model.ListCompetition)
    {
        <div class="form-container" style="margin-bottom: 20px;">
            <p>
                <div>
                    <b>@Html.DisplayFor(modelItem => item.CompetitionName)</b> <br />
                </div>
                <div style="margin-top:10px;">
                    Area of Interest: <br />
                    @Html.DisplayFor(model => model.AiList.Find(a => a.AreaInterestID == item.AreaInterestID).Name)
                </div>
                <div style="margin-top:10px;">
                    Competition Dates: <br />
                    @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate) <br />
                </div>
                <div style="margin-top:10px;">
                    Results Release Date: <br />
                    @Html.DisplayFor(modelItem => item.ResultReleasedDate)
                </div>
            </p>
            <span>
                <a asp-action="CompetitionJudges"
                    asp-route-id="@item.CompetitionID"
                    class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">Manage Judges</a>
            </span>
            <!-- display table with judges in competition-->
            @if (ViewData["selComp"].ToString() != "" && Model.CompJudgeVM.SelectedCompetition.CompetitionID == item.CompetitionID)
            {
                <hr />
                <span>
                    <a asp-action="AssignJudge" asp-controller="Judge"
                        asp-route-id="@item.CompetitionID"
                        class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;margin-bottom:20px;">Assign New Judge</a>
                </span>
                <br />
                if (Model.CompJudgeVM.JudgeList.Count != 0)
                {
                <div class="table-responsive">
                    <table id="viewCompJudge" class="table table-striped table-bordered">
                        <thead class="thead-dark">
                            <tr>
                                <th>ID</th>
                                <th>Judge Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var judge in Model.CompJudgeVM.JudgeList)
                        {
                            if (Model.CompJudgeVM.JudgeList.Count <= 2)
                            {
                                <tr>
                                <td>@Html.DisplayFor(modelItem => judge.JudgeID)</td>
                                <td>@Html.DisplayFor(modelItem => judge.Salutation) @Html.DisplayFor(modelItem => judge.JudgeName)</td>
                                <td></td>
                            </tr>
                            }
                            else
                            {
                                <tr>
                                <td>@Html.DisplayFor(modelItem => judge.JudgeID)</td>
                                <td>@Html.DisplayFor(modelItem => judge.Salutation) @Html.DisplayFor(modelItem => judge.JudgeName)</td>
                                <td>
                                    <a asp-action="RemoveJudge" asp-controller="Judge"
                                        asp-route-id="@judge.JudgeID"
                                        class="btn" style="color:#FD7F02;">Remove Judge</a>
                                </td>
                            </tr>
                            }
                        }
                        </tbody>
                    </table>
                </div>
                }
                else
                {
                    <p style="color:orangered">
                        There are currently no judges assigned to this competition. Please assign at least 2 judges!
                    </p>
                }
            }
        </div>
    }
</div>