﻿@model WEB_Assignment_Team2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "Competition Ranking";
}
<div id="comp-container" class="container">
    <h2>View Rankings</h2>
    <br />
    @foreach (var item in Model.ListCompetition)
    {
        <div class="form-container" style="margin-bottom: 20px;">
            <p>
                <div>
                    <b>@Html.DisplayFor(modelItem => item.CompetitionName)</b> <br />
                </div>
                <div style="margin-top:10px;">
                    Area of Interest: <br />
                    @Html.DisplayFor(model => model.AiList.Find(a => a.AreaInterestID == item.AreaInterestID).Name)
                </div>
                <div style="margin-top:10px;">
                    Competition Dates: <br />
                    @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate) <br />
                </div>
                <div style="margin-top:10px;">
                    Results Release Date: <br />
                    @Html.DisplayFor(modelItem => item.ResultReleasedDate)
                </div>
            </p>
            <span>
                <span class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">@Html.ActionLink("View Rankings", "PublicRankView", "Rank", new { id = item.CompetitionID })</span>
            </span>
        </div>
    }
</div>