﻿@model WEB_Assignment_Team2.Models.Competition
@{
    ViewData["Title"] = "Create Competition";
}
<div id="comp-container" class="container">
    <h2>Create New Competition</h2>
    <div style="color:orangered">@TempData["CCError"]</div> <br />
    <form asp-action="CreateCompetition">
        <fieldset class="FormContent form-container" style="margin-bottom: 20px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitionName" class="control-label"></label>
                <input asp-for="CompetitionName" class="form-control" />
                <span asp-validation-for="CompetitionName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AreaInterestID" class="control-label"></label>
                <select asp-for="AreaInterestID"
                        asp-items="@(new SelectList( @ViewData["AIList"]
                                    as List <AreaInterest>, "AreaInterestID", "Name"))"
                        class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResultReleasedDate" class="control-label"></label>
                <input asp-for="ResultReleasedDate" class="form-control" />
                <span asp-validation-for="ResultReleasedDate" class="text-danger"></span>
            </div>
            <div class="row form-group">
                <div style="padding:15px;">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
                <div style="padding:15px;">
                    <input asp-action="AllCompetitions" type="submit" value="Cancel" class="btn btn-danger" />
                </div>
            </div>
        </fieldset>
    </form>
</div>