﻿@model WEB_Assignment_Team2.Models.CompetitionViewModel
@{
    ViewData["Title"] = "My Competitions";
}
<div id="comp-container" class="container">
    @{if (Context.Session.GetString("Role") == "competitor")
        {
            <h2>My Competitions</h2>
            <br />
            foreach (var item in Model.ListCompetition)
            {
                <div class="form-container" style="margin-bottom: 20px;" onclick="location.href = '@Url.Action("View", "Criteria", new {id=item.CompetitionID})'">
                    <p>
                        <div>
                            <b>@Html.DisplayFor(modelItem => item.CompetitionName)</b> <br />
                        </div>
                        <div style="margin-top:10px;">
                            Competition Dates: <br />
                            @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate) <br />
                        </div>
                        <div style="margin-top:10px;">
                            Results Release Date: <br />
                            @Html.DisplayFor(modelItem => item.ResultReleasedDate)
                        </div>
                    </p>
                    <span>
                        <span class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">@Model.AiList[Convert.ToInt32(item.AreaInterestID) - 1].Name</span>
                    </span>
                </div>
            }
        }
        else if (Context.Session.GetString("Role") == "judge")
        {
            <h2>View Competitions</h2>
            <br />
            foreach (var item in Model.ListCompetition)
            {
                <div style="cursor:pointer" onclick="location.href = '@Url.Action("View", "Criteria", new {id=item.CompetitionID})'">
                    <div class="form-container" style="margin-bottom: 20px;">
                        <p>
                            <div>
                                <b>@Html.DisplayFor(modelItem => item.CompetitionName)</b> <br />
                            </div>
                            <div style="margin-top:10px;">
                                Competition Dates: <br />
                                @Html.DisplayFor(modelItem => item.StartDate) to @Html.DisplayFor(modelItem => item.EndDate) <br />
                            </div>
                            <div style="margin-top:10px;">
                                Results Release Date: <br />
                                @Html.DisplayFor(modelItem => item.ResultReleasedDate)
                            </div>
                        </p>
                        <span style="width:150px;border-width:1px;border-radius:1000px;border-style:solid;">
                            <span style="color: #FD7F02;padding:0px 10px">
                                @if (DateTime.Now < item.StartDate)
                                {
                                    @Html.Raw("In Preparation")
                                }
                                else if (DateTime.Now < item.EndDate && DateTime.Now > item.StartDate)
                                {
                                    @Html.Raw("Ongoing")
                                }
                                else if (DateTime.Now < item.ResultReleasedDate && DateTime.Now > item.EndDate)
                                {
                                    @Html.Raw("Pending Results")
                                }
                                else
                                {
                                    @Html.Raw("Competition Ended")
                                }
                            </span>
                        </span>
                    </div>
                </div>
            }
        }
    }
</div>