﻿@model IEnumerable<WEB_Assignment_Team2.Models.AreaInterest>

@if (Model.ToList().Count > 0)
{
<div id="ai-container" class="container">
    <h2>View Area of Interest</h2>
    <div style="color:forestgreen">@TempData["AIsuccess"]</div>
    <div style="color:orangered">@TempData["AIdeleteError"]</div> <br />
    <a asp-action="Create" 
       class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;margin-bottom: 20px;">Create New Area of Interest</a>
    <br />
    @foreach (var item in Model)
    {
        <div class="form-container" style="margin-bottom: 20px;">
            <p>
                <div>
                    <b>@item.Name</b><br />
                </div>
                <div style="margin-top:10px;">
                    Area of Interest ID: @item.AreaInterestID
                </div>
            </p>
            <span>
                <a asp-action="Delete" asp-controller="AreaInterest"
                   asp-route-id="@item.AreaInterestID"
                   class="btn" style="color:#FD7F02;border-color:black;border-radius:1000px;">Delete</a>
            </span>
        </div>
    }
</div>
}
else
{
    <span style="color:red">No record found!</span>
}