﻿@model WEB_Assignment_Team2.Models.AreaInterest
@{
    ViewData["Title"] = "Create Area Of Interest";
}
<div id="ai-container" class="container">
    <h2>Create New Area of Interest</h2><br />
    <form asp-action="Create">
        <fieldset class="FormContent form-container" style="margin-bottom: 20px;">
            <div class="form-group">
                <label asp-for="Name"></label>
                <div>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="row form-group">
                <div style="padding:15px;">
                    <input type="submit" value="Create" class="btn btn-success" />
                </div>
                <div style="padding:15px;">
                    <input asp-action="Index" type="submit" value="Cancel" class="btn btn-danger" />
                </div>
            </div>
        </fieldset>
    </form>
</div>