﻿@model WEB_Assignment_Team2.Models.CompetitionJudge

@{
    ViewData["Title"] = "Assign Judge";
}

<div id="comp-container" class="container">
    <h2>Assign New Judge for @ViewData["CompName"]</h2>
    <div style="color:orangered">@TempData["AssignJudgeError"]</div>
    <br />
    <form asp-action="AssignJudge" asp-controller="Judge">
        <fieldset class="FormContent form-container" style="margin-bottom: 20px;">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CompetitionID" class="control-label"></label>
                <input asp-for="CompetitionID" readonly class="form-control" value="@ViewData["CompID"]"/>
                <span asp-validation-for="CompetitionID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="JudgeID" class="control-label"></label>
                <span asp-validation-for="JudgeID" class="text-danger"></span>
                <select asp-for="JudgeID"
                        asp-items="@(new SelectList( @ViewData["JudgeList"]
                                    as List <Judge>, "JudgeID", "JudgeName"))"
                        class="form-control"></select>
            </div>
            <div class="row form-group">
                <div style="padding:15px;">
                    <input type="submit" value="Assign" class="btn btn-success" />
                </div>
                <div style="padding:15px;">
                    <input asp-action="CompetitionJudges" 
                           asp-controller="Competition" 
                           type="submit" value="Cancel" class="btn btn-danger" />
                </div>
            </div>
        </fieldset>
    </form>
</div>

