﻿@model WEB_Assignment_Team2.Models.CompetitionJudgeViewModel
@{
    ViewData["Title"] = "View Judges";
}
<div class="container">
    @await Html.PartialAsync("~/Views/Shared/_CompetitionDetails.cshtml", Model.SelectedCompetition)
    <div style="border-style:none solid solid solid;border-width:1px;border-radius:0px 0px 10px 10px; min-height: 300px">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.JudgeList.FirstOrDefault().JudgeName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.JudgeList.FirstOrDefault().JudgeID)
                    </th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var item in Model.JudgeList)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Salutation) @Html.DisplayFor(modelItem => item.JudgeName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.JudgeID)
                            </td>
                        </tr>
                    }


                }
            </tbody>
        </table>
    </div>
</div>
<br />
@section Scripts{
    <script>
        $(".buttonCriteria a").css({ "padding": "2px 0px", "background-color": "white", "text-decoration": "none", "color": "#707070" })
        $("#btnJudges a").css({ "color": "blue" })
    </script>
}